<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CarRental" connectionString="Initial Catalog=CarRental;server=TCHEKLT92\SQLEXPRESS;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="CarRental.Business.Managers.Managers.InventoryManager">
        <endpoint address="net.tcp://localhost:8009/InventoryService" binding="netTcpBinding" contract="CarRental.Business.Contracts.Service_Contracts.IInventoryService" />
      </service>
      <service name="CarRental.Business.Managers.Managers.RentalManager">
        <endpoint address="net.tcp://localhost:8009/RentalService" binding="netTcpBinding" contract="CarRental.Business.Contracts.Service_Contracts.IRentalService" />
      </service>
      <service name="CarRental.Business.Managers.Managers.AccountManager">
        <endpoint address="net.tcp://localhost:8009/AccountService" binding="netTcpBinding" contract="CarRental.Business.Contracts.Service_Contracts.IAccountService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>